@tailwind base;
@tailwind components;
@tailwind utilities;

.TextShadow:hover {
  text-shadow: 0 0 20px #00ffff, 0 0 20px #00ffff, 0 0 20px #00ffff;
}

::-webkit-scrollbar {
  width: 0.75rem;
  background-color: #ffff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  width: 0.5rem;
  background-color: #5f9ea0;
  border-radius: 10px;
}

@layer components {
  section {
    @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pb-12 min-h-screen;
  }
}

.projectCard {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.languages {
  margin-top: 0.5rem;
}